.container
  .sidebar
    .sidebar__header
      .sidebar__header__name
        %h2 hanehane
      %ul.sidebar__header__lists
        %li.list.icon__cog
          = link_to edit_group_path(@group),class: "icon" do
            = fa_icon "cog"
        %li.list
          = link_to new_group_path,class: "icon" do
            = fa_icon "pencil-square-o"

    .sidebar__groups
      .sidebar__groups__comment
        - current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            %h4=group.name
            %p=group.show_last_message

  .messages
    .messages__header
      .messages__header__left
        %h2=@group.name

      .messages__header__right
        %a.messages__header__right__edit{href: "#",alt: "Edit"}
          Edit
    .messages__body
      .messages__padding
        .messages__body__message__infomation
          - @messages.each do |message|
            %span.name=message.user.name
            %span.date=message.created_at
            %br
            - if message.message.present?
              %p=message.message
            =image_tag message.image.url if message.image.present?
            %br

    .textform
      .textform__form
        = form_for [@group, @message] do |f|
          %ul
            %li
              = f.text_field :message, class: "textform__form__message", placeholder: "type a message"
            %li
              .textform__form__icon__space
                = f.label :image do
                  = fa_icon 'picture-o', class: 'icon__label'
                  = f.file_field :image, class: 'icon__hidden'
            %li
              = f.submit "SEND", class: "textform__form__button"
