.container
  .sidebar
    =render partial: 'groups/group'

  .messages
    .messages__header
      .messages__header__left
        .messages__header__left__group-name
          =@group.name
        %ul.messages__header__left__members
          %li.member
            Member :
          -@group.users.each do |user|
            %li.member
              =user.name

      .messages__header__right
        =link_to "Edit", edit_group_path(@group), alt: "Edit"
    .messages__body
      .messages__body__message__infomation
        %br
        =render @messages

    .form
      .form__input
        = form_for [@group, @message] do |f|
          %ul
            %li
              = f.text_field :message, class: "form__input__message", placeholder: "type a message"
            %li
              .form__input__icon__space
                = f.label :image do
                  = fa_icon 'picture-o',class: 'icon__label fa-lg'
                  = f.file_field :image, class: 'icon__hidden'
            %li
              = f.submit "SEND", class: "form__input__button"
